.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  border-radius: 50%
}

.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
}
.profileimg {
  border-radius: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  flex: 1;
}